@import '~antd/dist/antd.css';

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Lean-text {
  font-weight: 600
}

.Simple-measure-value {
  display: inline-block;
  margin-top: 0px;
}

.Simple-measure-unit {
  display: inline-block;
  margin-top: 0px;
}

.Simple-measure-value-container {
  clear: both;
}

.nav-menu {
  float: left;
  line-height: 64px;
}

.user-menu {
  float: right;
}

.user-menu-username {
  margin-left: 10px;
  
}

@media only screen and (max-width: 600) {
  .x-600 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .x-768 {
    display: none;
  }
  
  ul > li > a > i.anticon.mobile-icon {
    margin-right: 0px;
  }
}


